<!DOCTYPE html>
{% load static %}
<html lang="en">
{% block content %}

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>VIAT-AiTouch</title>

  <style>
    .output { font-family: monospace; font-weight: bold; }
      
    .file-upload__label {
      display: block;
      padding: 1em 2em;
      color: #fff;
      background: #222;
      border-radius: .4em;
      transition: background .3s;
      
      &:hover {
        cursor: pointer;
        background: #000;
      }
    }

      .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      }

      .container {
        width:500px;
        height:300px;
      }

      #grad {
        /* background-image: linear-gradient(-90deg,#a9e4f7,#0fb4e7); */
        background-color: whitesmoke
      }

      #doodle {
        position: relative;
        width: 0px;
        height: 0px;
        z-index: 2;
      }

      #canvas {
        z-index: 1;
      }

      .bbox {
        border: 1px solid #FF0000;
        position: absolute;
        z-index: 3;
      }

      .handle, .ui-resizable-handle {div
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid rgba(255, 0, 0, .5);
        background-color: rgba(255, 255, 0, .05);
        position: absolute;
      }

      .center-drag {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: move;
      }

      .ui-resizable-n {
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: n-resize;
      }

      .ui-resizable-s {
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 50%);
        cursor: s-resize;
      }

      .ui-resizable-w {
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: w-resize;
      }

      .ui-resizable-e {
        right: 0%;
        top: 50%;
        transform: translate(50%, -50%);
        cursor: e-resize;
      }

      .ui-slider {
        position: relative;
        text-align: left;
        height: .8em;
      }

      .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;
        top: -.3em;
        margin-left: -.6em;
      }

      .ui-widget.ui-widget-content {
        border: 1px solid #d3d3d3;
      }

      .ui-state-default {
        border: 1px solid #d3d3d3;
        background-color: #e6e6e6;
      }

      .ui-state-hover, .ui-state-focus {
        border: 1px solid #999999;
        background-color: #dadada;
      }

      .ui-state-active {
        border: 1px solid #aaaaaa;
        background-color: #ffffff;
      }

      .ui-state-disabled {
        opacity: .35;
      }

      .ui-corner-all {
        border-radius: 4px;
      }
      @font-face {
        font-family: myFirstFont;
        src: url(../../static/vatic/fonts/sansation_light.woff);
      }

      @font-face {
        font-family: myFirstFont;
        src: url(../../static/vatic/fonts/sansation_bold.woff);
        font-weight: bold;
      }

      * {
        font-family: myFirstFont;
      }

      .split {
      height: 100%;
      width: 50%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
    }

/* Control the left side */
      .left {
        left: 0;
        height: 100%;
        width: 70%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
        background-color: #ffffff;
      }

      /* Control the right side */
      .right {
        width: 30%;
        height: 80%;
        position: fixed;
        z-index: 0;
        top: 0;
        overflow-x: hidden;
        padding-top: 10%;
        right: 0;
       
      }

      .aitcolor {
            width: 100%;
            margin-bottom: 0;
            min-height: 0;
            background: -webkit-radial-gradient(center, ellipse cover, rgba(8, 118, 215, 1) 0%, rgba(21, 62, 165, 1) 100%);
        }

        .homecolor {
            color: white;
        }
  </style>
  <!-- <script type="text/javascript" src="{% static 'vatic/css/base.css' %}"></script>
  <script type="text/javascript" src="{% static 'vatic/css/stylesheet.css' %}"></script> -->
  <script type="text/javascript" src="{% static 'vatic/js/player.js' %}"></script>
  <link rel="stylesheet" href="{% static 'vatic/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'vatic/css/stylesheet.css' %}">
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'base/css/animate.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'via_superadmin/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'via_superadmin/css/font-awesome.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'base/css/modal_style.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'base/css/font-awesome.css' %}" />

</head>
<div class="wrapper" style="background-color:rgb(255, 255, 255);height:100%;padding:0px">
  <div class="row border-bottom" style="background-color:rgb(255, 255, 255);">
    <nav class="navbar navbar-static col-lg-12" style="background-color:#057EB2;">
      <div class="navbar-header col-lg-4">
        <span>
          <img alt="image" class="img" src="http://aitouch.in/wp-content/themes/aitouch/images/logo.png" style="height: 50px;width: 150px;">
        </span>
      </div>
      <div class="col-lg-4" style="text-align:center;padding: 10px;">
        {% if page == "vatic" %}
        <a href="../" class="homecolor">
          <i class="fa fa-home" aria-hidden="true" style="font-size: 15px;"></i>
          <span style="font-size: 20px;" class="nav-label">Home</span>
        </a>
        {% endif %}
      </div>
      <div class="col-lg-4 homecolor" style="text-align: right;padding:5px;">
        {{ request.user.first_name}}
        <br>
        <a href="../../logout" class="homecolor">
          <i class="fa fa-sign-out"></i> Log out
        </a>

      </div>
    </nav>
  </div>
</div>

<div>
  <h1 style="margin-top: 0px;" align="center">Video Annotation Tool</h1>
  <ol>
    <form name="form" enctype="multipart/form-data" action="{% url 'upload' %}" method="POST">{% csrf_token %}
      {{xml_path}}
      <div style="max-width:470px;">
        <center>
          <input type="hidden" name="url_abs" value="{{url_abs}}"></p>
          <input type="hidden" name="b_id" value="{{video_id}}"></p>
          <input type="file" style="margin-left:20%;" placeholder=" XML File" name="xml_file" />
        </center>
      </div>
      <div style="max-width:470px;">
        <center>

          <button style="border:0px;background-color:#4285F4; margin-top:8%; 
                 height:35px; width:80%; margin-left:19%;"
            type="submit" value="Login">
            <strong>Upload</strong>
          </button>

        </center>
      </div>
    </form>

    <div align="center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
        Instructions
      </button>
      <a href="../annotateCom/"><button align="right">Submit
        </button>
      </a>
      <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content animated fadeIn">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                  class="sr-only">Close</span></button>
              <i class="fa fa-clock-o modal-icon"></i>
              <h4 class="modal-title">Instructions</h4>
              <small>Please read the following instructions carefully before using the tool</small>
            </div>
            <div class="modal-body">
              <li>
                <p>This tool can be used to easily annotate a video, without having to install anything.</p>
                <p>Optical flow is used to track your annotations, so that have to do as little work as possible ;-)</p>
                <p>This tool works best in Chrome, and has also been successfully tested in Firefox.</p>
              </li>
              <li>
                <p>Note: Keep the focus on the browser during the entire extraction process, or frames might be
                  skipped.</p>
              </li>
              <li>
                <p>Manually annotate the frame sequence:</p>
                <p>To create a new bounding box, first click <strong>'N'</strong> (for new), and then left click on two
                  locations in the video
                  corresponding to the corners of the box.</p>
                <p>Tip: Use the <strong>spacebar</strong> to play/pause the video, and the left and right arrows to
                  navigate
                  frame by frame.</p>
                <p>Tip: The visibility of each object can be toogled with its visiblity checkbox under the video.</p>
                <p>Tip: Zoom in with your browser to place the bounding boxes more accurately.<strong>(ctrl +)</strong></p>
              </li>
            </div>
            <div class="modal-footer">

            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- <p id="test" data-src="http://127.0.0.1:8000/media/videos/20181011/vid-test.mp4"></p> -->
    <p id="test" align="center" data-src="{{url_ex}}"></p>
    <div align="center">
      <!-- <a id="video" type="file" href="http://127.0.0.1:8000/media/videos/20181011/vid-test.mp4">click me</a> -->
      <!-- <input type="file" value="http://127.0.0.1:8000/media/videos/20181011/vid-test.mp4" id="video"> -->
      <!-- <video id="vid" width="320" height="240" data-src="{{url_ex}}" controls>
              <source src="{{url_ex}}" type="video/mp4">
              Your browser does not support the video tag.
            </video> -->
    </div>

    <form method="POST" class="post-form" enctype="multipart/form-data" type="hidden">{% csrf_token %}
      <input type="hidden" name="video" id="videoFile" accept="video/*" hidden>
      <input type="hidden" name="frames" id="zipFile" accept=".zip" hidden></p>
    </form>

    <!-- <form method="POST" action="../saveXmlFile/" enctype="multipart/form-data">{% csrf_token %}
      <input type="hidden" name="video_id" value="{{video_id}}">
      <input type="file" name="xml_file">
      <input type="submit">
    </form> -->
    <!-- <input class="btn-custom" value="submit" type="file" name="xml_file" data-url="{% url 'xml_upload' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'> -->

    <!-- <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ xmlForm.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form> -->
    <p class="output" id="videoDimensions"></p>
    <p class="output" id="extractionProgress"></p>

    <li>
      <p>Download the extracted frames zip archive: <input type="button" id="downloadFrames" value="Get frames zip archive"
          disabled="disabled" /></p>
    </li>
    <li>
      <p>Optional: Load a compatible
        XML
        annotation file: <input type="file" id="xmlFile" accept=".xml" disabled="true" /></p>

      <p>Note: Launch your object detector on the extracted frames rather than on the original video to avoid
        frame/annotation mismatches!</p>
    </li>
    <!-- <li> -->

    <!-- <input class="center" id="test" min="1" max="10" value='10' step="1" onchange="showVal(this.value)" type="range"/> -->
    <div id="doodle" align="center">
      <canvas id="canvas" align="center"></canvas>
    </div>
    <br><br><br>
    <p><input type="button" id="play" value="Play" disabled="true" /><input type="button" id="pause" value="Pause"
        disabled="true" style="display: none;" /></p>
    <br>
    <div id="slider"></div>
    <p><label for="speed">Speed multiplier: </label><input type="text" id="speed" value="1.00" size="4" /></p>
    <div id="objects"></div>
    <!-- </li> -->
    <li>
      <p><input type="button" id="generateXml" value="Generate" disabled="true" /> XML annotations file.</p>
    </li>
  </ol>

</div>

<div class="footer" style="background-color:#057EB2;bottom: 0;
height: 60px;
">
    <div class="row col-md-12">
        <div class="left_side col-md-6" align="left">
            <span style="color:white;font-size: 16">Privacy Policy | TOS | GDPR</span>
        </div>

        <div class="right_side col-md-6" align="right">
            <img style="width: 85px; height: 50px" src="{{ '/media/logo/via-logo.png' }}">
            <span style="color:white;font-size: 16">Product of Aitouch</span>
        </div>
    </div>

</div>

<script type="text/javascript" src="{% static 'vatic/js/compatibility.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/jszip.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/StreamSaver.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/polyfill.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/jsfeat.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/nudged.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/pouchdb.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/jquery-1.12.4.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'vatic/js/vatic.js' %}"></script>
<script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
<script src="{% static 'base/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/inspinia.js' %}"></script>
<script src="{% static 'base/js/pace.min.js' %}"></script>


<script type="text/javascript">

   if($(document).height() > $(window).height())
        {
            $(".footer").css("position", "relative");
            
        }

  let config = {
    // Should be higher than real FPS to not skip real frames
    // Hardcoded due to JS limitations
    fps: 30,

    // Low rate decreases the chance of losing frames with poor browser performances
    playbackRate: 0.4,

    // Format of the extracted frames
    imageMimeType: 'image/jpeg',
    imageExtension: '.jpg',

    // Name of the extracted frames zip archive
    framesZipFilename: 'extracted-frames.zip'
  };

  let doodle = document.querySelector('#doodle');
  let canvas = document.querySelector('#canvas');
  let ctx = canvas.getContext('2d');
  let videoFile = document.querySelector('#videoFile');

  let zipFile = document.querySelector('#zipFile');
  let xmlFile = document.querySelector('#xmlFile');
  let videoDimensionsElement = document.querySelector('#videoDimensions');
  let extractionProgressElement = document.querySelector('#extractionProgress');
  let downloadFramesButton = document.querySelector('#downloadFrames');
  let playButton = document.querySelector('#play');
  let pauseButton = document.querySelector('#pause');
  let speedInput = document.querySelector('#speed');
  let sliderElement = document.querySelector('#slider');
  let generateXmlButton = document.querySelector('#generateXml');

  let framesManager = new FramesManager();
  let annotatedObjectsTracker = new AnnotatedObjectsTracker(framesManager);

  downloadFramesButton.addEventListener('click', downloadFrames, false);

  let slider = {
    init: function (min, max, onChange) {
      $(sliderElement).slider('option', 'min', min);
      $(sliderElement).slider('option', 'max', max);
      $(sliderElement).on('slidestop', (e, ui) => {
        onChange(ui.value);
      });
      $(sliderElement).slider('enable');
    },
    setPosition: function (frameNumber) {
      $(sliderElement).slider('option', 'value', frameNumber);
    },
    reset: function () {
      $(sliderElement).slider({ disabled: true });
    }
  };
  slider.reset();

  let player = {
    currentFrame: 0,
    isPlaying: false,
    isReady: false,
    timeout: null,

    initialize: function () {
      this.currentFrame = 0;
      this.isPlaying = false;
      this.isReady = false;

      playButton.disabled = true;
      playButton.style.display = 'block';
      pauseButton.disabled = true;
      pauseButton.style.display = 'none';
    },

    ready: function () {
      this.isReady = true;

      playButton.disabled = false;
    },

    seek: function (frameNumber) {
      if (!this.isReady) {
        return;
      }

      this.pause();

      if (frameNumber >= 0 && frameNumber < framesManager.frames.totalFrames()) {
        this.drawFrame(frameNumber);
        this.currentFrame = frameNumber;
      }
    },

    play: function () {
      if (!this.isReady) {
        return;
      }

      this.isPlaying = true;

      playButton.disabled = true;
      playButton.style.display = 'none';
      pauseButton.disabled = false;
      pauseButton.style.display = 'block';

      this.nextFrame();
    },

    pause: function () {
      if (!this.isReady) {
        return;
      }

      this.isPlaying = false;
      if (this.timeout != null) {
        clearTimeout(this.timeout);
        this.timeout = null;
      }

      pauseButton.disabled = true;
      pauseButton.style.display = 'none';
      playButton.disabled = false;
      playButton.style.display = 'block';
    },

    toogle: function () {
      if (!this.isPlaying) {
        this.play();
      } else {
        this.pause();
      }
    },

    nextFrame: function () {
      if (!this.isPlaying) {
        return;
      }

      if (this.currentFrame >= framesManager.frames.totalFrames()) {
        this.done();
        return;
      }

      this.drawFrame(this.currentFrame).then(() => {
        this.currentFrame++;
        this.timeout = setTimeout(() => this.nextFrame(), 1000 / (config.fps * parseFloat(speedInput.value)));
      });
    },

    drawFrame: function (frameNumber) {
      return new Promise((resolve, _) => {
        annotatedObjectsTracker.getFrameWithObjects(frameNumber).then((frameWithObjects) => {
          ctx.drawImage(frameWithObjects.img, 0, 0);

          for (let i = 0; i < frameWithObjects.objects.length; i++) {
            let object = frameWithObjects.objects[i];
            let annotatedObject = object.annotatedObject;
            let annotatedFrame = object.annotatedFrame;
            if (annotatedFrame.isVisible()) {
              annotatedObject.dom.style.display = 'block';
              annotatedObject.dom.style.width = annotatedFrame.bbox.width + 'px';
              annotatedObject.dom.style.height = annotatedFrame.bbox.height + 'px';
              annotatedObject.dom.style.left = annotatedFrame.bbox.x + 'px';
              annotatedObject.dom.style.top = annotatedFrame.bbox.y + 'px';
              annotatedObject.visible.prop('checked', true);
            } else {
              annotatedObject.dom.style.display = 'none';
              annotatedObject.visible.prop('checked', false);
            }
          }

          let shouldHideOthers = frameWithObjects.objects.some(o => o.annotatedObject.hideOthers);
          if (shouldHideOthers) {
            for (let i = 0; i < frameWithObjects.objects.length; i++) {
              let object = frameWithObjects.objects[i];
              let annotatedObject = object.annotatedObject;
              if (!annotatedObject.hideOthers) {
                annotatedObject.dom.style.display = 'none';
              }
            }
          }

          slider.setPosition(this.currentFrame);

          resolve();
        });
      });
    },

    done: function () {
      this.currentFrame = 0;
      this.isPlaying = false;

      playButton.disabled = false;
      playButton.style.display = 'block';
      pauseButton.disabled = true;
      pauseButton.style.display = 'none';
    }
  };

  function clearAllAnnotatedObjects() {
    for (let i = 0; i < annotatedObjectsTracker.annotatedObjects.length; i++) {
      clearAnnotatedObject(i);
    }
  }

  function clearAnnotatedObject(i) {
    let annotatedObject = annotatedObjectsTracker.annotatedObjects[i];
    annotatedObject.controls.remove();
    $(annotatedObject.dom).remove();
    annotatedObjectsTracker.annotatedObjects.splice(i, 1);
  }

  function downloadFrames() {
    let zip = new JSZip();
    let processed = 0;
    let totalFrames = framesManager.frames.totalFrames();
    console.log("inside download frames")
    console.log(totalFrames)
    for (let i = 0; i < totalFrames; i++) {
      console.log("1")
      framesManager.frames.getFrame(i).then((blob) => {
        console.log("here too");
        zip.file(i + '.jpg', blob);

        processed++;
        console.log("inside process", processed);
        console.log("inside total", totalFrames);
        if (processed == totalFrames) {
          // let writeStream = streamSaver.createWriteStream('extracted-frames.zip').getWriter();
          // zip.generateInternalStream({ type: 'uint8array', streamFiles: true })
          //   .on('data', data => writeStream.write(data))
          //   .on('end', () => writeStream.close())
          //   .resume();
          //   console.log(data);
          zip.generateAsync({ type: "blob" }).then(function (content) {
            // see FileSaver.js
            // saveAs(content, "example.zip");
            var filename = "{{filename}}" + ".zip";
            saveAs(content, filename);
          });
          // console.log("executed the write block")
        }
      });
    }
  }
  //*********************************
  var u = $("#vid").data('src')
  console.log(u)
  var check2 = $("#inp").data('src')
  console.log(check2)
  // var oReq = new XMLHttpRequest();
  // var url = "http://127.0.0.1:8000/media/videos/20181011/vid-test.mp4"
  // var videobuffer;
  var url = "{{url_ex}}";
  // oReq.onload = function(e) {
  // videobuffer = oReq.response; // not responseText
  // }
  var request = new XMLHttpRequest();
  request.open('GET', url);
  request.responseType = 'blob';
  var temp;
  request.onload = function () {
    temp = request.response;
    console.log("543 vid file", temp)
    extractionFileUploaded()

    function extractionFileUploaded() {
      if (!temp) {
        return;
      }
      console.log("line 550")
      videoFile.disabled = true;
      zipFile.disabled = true;
      xmlFile.disabled = true;
      downloadFramesButton.disabled = true;
      generateXmlButton.disabled = true;
      clearAllAnnotatedObjects();
      slider.reset();
      player.initialize();

      let promise;

      let dimensionsInitialized = false;
      console.log("line 563")
      promise = extractFramesFromVideo(
        config,
        temp,
        (percentage, framesSoFar, lastFrameBlob) => {
          console.log("line 568")
          blobToImage(lastFrameBlob).then((img) => {
            if (!dimensionsInitialized) {
              dimensionsInitialized = true;
              initializeCanvasDimensions(img);
            }
            ctx.drawImage(img, 0, 0);

            videoDimensionsElement.innerHTML = 'Video dimensions determined: ' + img.width + 'x' + img.height;
            extractionProgressElement.innerHTML = (percentage * 100).toFixed(2) + ' % completed. ' + framesSoFar + ' frames extracted.';
          });
        });


      promise.then((frames) => {
        extractionProgressElement.innerHTML = 'Extraction completed. ' + frames.totalFrames() + ' frames captured.';
        if (frames.totalFrames() > 0) {
          frames.getFrame(0).then((blob) => {
            blobToImage(blob).then((img) => {
              initializeCanvasDimensions(img);
              ctx.drawImage(img, 0, 0);
              videoDimensionsElement.innerHTML = 'Video dimensions determined: ' + img.width + 'x' + img.height;

              framesManager.set(frames);
              slider.init(
                0,
                framesManager.frames.totalFrames() - 1,
                (frameNumber) => player.seek(frameNumber)
              );
              player.ready();

              xmlFile.disabled = false;
              playButton.disabled = false;
              downloadFramesButton.disabled = false;
              generateXmlButton.disabled = false;
            });
          });
        }

        console.log("here");
        //console.log(downloadFrames());


        videoFile.disabled = false;
        zipFile.disabled = false;

        // setTimeout(function(){ $("#downloadFrames").click(); }, 3000);

      });
    }




    //*********************************

    console.log("Coming out")
    videoFile.addEventListener('change', extractionFileUploaded, false);
    zipFile.addEventListener('change', extractionFileUploaded, false);
    xmlFile.addEventListener('change', importXml, false);
    playButton.addEventListener('click', playClicked, false);
    pauseButton.addEventListener('click', pauseClicked, false);
    downloadFramesButton.addEventListener('click', downloadFrames, false);
    generateXmlButton.addEventListener('click', generateXml, false);

    function playClicked() {
      player.play();
    }

    function pauseClicked() {
      player.pause();
    }

    //download frames


    function initializeCanvasDimensions(img) {
      doodle.style.width = img.width + 'px';
      doodle.style.height = img.height + 'px';
      canvas.width = img.width;
      canvas.height = img.height;
      sliderElement.style.width = img.width + 'px';

      function interactify(dom, onChange) {
        let bbox = $(dom);
        bbox.addClass('bbox');

        let createHandleDiv = (className) => {
          let handle = document.createElement('div');
          handle.className = className;
          bbox.append(handle);
          return handle;
        };

        bbox.resizable({
          containment: 'parent',
          handles: {
            n: createHandleDiv('ui-resizable-handle ui-resizable-n'),
            s: createHandleDiv('ui-resizable-handle ui-resizable-s'),
            e: createHandleDiv('ui-resizable-handle ui-resizable-e'),
            w: createHandleDiv('ui-resizable-handle ui-resizable-w')
          },
          stop: (e, ui) => {
            let position = bbox.position();
            onChange(Math.round(position.left), Math.round(position.top), Math.round(bbox.width()), Math.round(bbox.height()));
          }
        });

        bbox.draggable({
          containment: 'parent',
          handle: createHandleDiv('handle center-drag'),
          stop: (e, ui) => {
            let position = bbox.position();
            onChange(Math.round(position.left), Math.round(position.top), Math.round(bbox.width()), Math.round(bbox.height()));
          }
        });
      }

      let mouse = {
        x: 0,
        y: 0,
        startX: 0,
        startY: 0
      };

      let tmpAnnotatedObject = null;

      doodle.onmousemove = function (e) {
        let ev = e || window.event;
        if (ev.pageX) {
          mouse.x = ev.pageX;
          mouse.y = ev.pageY;
        } else if (ev.clientX) {
          mouse.x = ev.clientX;
          mouse.y = ev.clientY;
        }
        mouse.x -= doodle.offsetLeft;
        mouse.y -= doodle.offsetTop;

        if (tmpAnnotatedObject !== null) {
          tmpAnnotatedObject.width = Math.abs(mouse.x - mouse.startX);
          tmpAnnotatedObject.height = Math.abs(mouse.y - mouse.startY);
          tmpAnnotatedObject.x = (mouse.x - mouse.startX < 0) ? mouse.x : mouse.startX;
          tmpAnnotatedObject.y = (mouse.y - mouse.startY < 0) ? mouse.y : mouse.startY;

          tmpAnnotatedObject.dom.style.width = tmpAnnotatedObject.width + 'px';
          tmpAnnotatedObject.dom.style.height = tmpAnnotatedObject.height + 'px';
          tmpAnnotatedObject.dom.style.left = tmpAnnotatedObject.x + 'px';
          tmpAnnotatedObject.dom.style.top = tmpAnnotatedObject.y + 'px';
        }
      }

      doodle.onclick = function (e) {
        if (doodle.style.cursor != 'crosshair') {
          return;
        }

        if (tmpAnnotatedObject != null) {
          let annotatedObject = new AnnotatedObject();
          annotatedObject.dom = tmpAnnotatedObject.dom;
          let bbox = new BoundingBox(tmpAnnotatedObject.x, tmpAnnotatedObject.y, tmpAnnotatedObject.width, tmpAnnotatedObject.height);
          annotatedObject.add(new AnnotatedFrame(player.currentFrame, bbox, true));
          annotatedObjectsTracker.annotatedObjects.push(annotatedObject);
          tmpAnnotatedObject = null;

          interactify(
            annotatedObject.dom,
            (x, y, width, height) => {
              let bbox = new BoundingBox(x, y, width, height);
              annotatedObject.add(new AnnotatedFrame(player.currentFrame, bbox, true));
            }
          );

          addAnnotatedObjectControls(annotatedObject);

          doodle.style.cursor = 'default';
        } else {
          mouse.startX = mouse.x;
          mouse.startY = mouse.y;

          let dom = newBboxElement();
          dom.style.left = mouse.x + 'px';
          dom.style.top = mouse.y + 'px';
          tmpAnnotatedObject = { dom: dom };
        }
      }

      function newBboxElement() {
        let dom = document.createElement('div');
        dom.className = 'bbox';
        doodle.appendChild(dom);
        return dom;
      }

      function addAnnotatedObjectControls(annotatedObject) {
        let name = $('<input type="text" value="Name?" />');
        if (annotatedObject.name) {
          name.val(annotatedObject.name);
        }
        name.on('change keyup paste mouseup', function () {
          annotatedObject.name = this.value;
        });

        let id = $('<input type="text" value="ID?" />');
        if (annotatedObject.id) {
          id.val(annotatedObject.id);
        }
        id.on('change keyup paste mouseup', function () {
          annotatedObject.id = this.value;
        });

        let visibleLabel = $('<label>');
        let visible = $('<input type="checkbox" checked="checked" />');
        annotatedObject.visible = visible;
        visible.change(function () {
          let bbox;
          if (this.checked) {
            annotatedObject.dom.style.display = 'block';
            let jquery = $(annotatedObject.dom);
            let position = jquery.position();
            bbox = new BoundingBox(Math.round(position.left), Math.round(position.top), Math.round(jquery.width()), Math.round(jquery.height()));
          } else {
            annotatedObject.dom.style.display = 'none';
            bbox = null;
          }
          annotatedObject.add(new AnnotatedFrame(player.currentFrame, bbox, true));
        });
        visibleLabel.append(visible);
        visibleLabel.append('Is visible?');

        let hideLabel = $('<label>');
        let hide = $('<input type="checkbox" />');
        hide.change(function () {
          annotatedObject.hideOthers = this.checked;
        });
        hideLabel.append(hide);
        hideLabel.append('Hide others?');

        let del = $('<input type="button" value="Delete" />');
        del.click(function () {
          for (let i = 0; annotatedObjectsTracker.annotatedObjects.length; i++) {
            if (annotatedObject === annotatedObjectsTracker.annotatedObjects[i]) {
              clearAnnotatedObject(i);
              break;
            }
          }
        });

        let div = $('<div></div>');
        div.css({
          'border': '1px solid black',
          'display': 'inline-block',
          'margin': '5px',
          'padding': '10px'
        });
        div.append(name);
        div.append($('<br />'));
        div.append(id);
        div.append($('<br />'));
        div.append(visibleLabel);
        div.append($('<br />'));
        div.append(hideLabel);
        div.append($('<br />'));
        div.append(del);

        annotatedObject.controls = div;

        $('#objects').append(div);
      }

      function generateXml() {
        let xml = '<?xml version="1.0" encoding="utf-8"?>\n';
        xml += '<annotation>\n';
        xml += '  <folder>not available</folder>\n';
        xml += '  <filename>not available</filename>\n';
        xml += '  <source>\n';
        xml += '    <type>video</type>\n';
        xml += '    <sourceImage>frames</sourceImage>\n';
        xml += '    <sourceAnnotation>AIT Annotation Tool</sourceAnnotation>\n';
        xml += '  </source>\n';

        let totalFrames = framesManager.frames.totalFrames();
        for (let i = 0; i < annotatedObjectsTracker.annotatedObjects.length; i++) {
          let annotatedObject = annotatedObjectsTracker.annotatedObjects[i];

          xml += '  <object>\n';
          xml += '    <name>' + annotatedObject.name + '</name>\n';
          xml += '    <moving>true</moving>\n';
          xml += '    <action/>\n';
          xml += '    <verified>0</verified>\n';
          xml += '    <id>' + annotatedObject.id + '</id>\n';
          xml += '    <createdFrame>0</createdFrame>\n';
          xml += '    <startFrame>0</startFrame>\n';
          xml += '    <endFrame>' + (totalFrames - 1) + '</endFrame>\n';

          for (let frameNumber = 0; frameNumber < totalFrames; frameNumber++) {
            let annotatedFrame = annotatedObject.get(frameNumber);
            if (annotatedFrame == null) {
              window.alert('Play the video in full before downloading the XML so that bounding box data is available for all frames.');
              return;
            }

            let bbox = annotatedFrame.bbox;
            if (bbox != null) {
              let isGroundThrugh = annotatedFrame.isGroundTruth ? 1 : 0;

              xml += '    ';
              xml += '<polygon>';
              xml += '<t>' + frameNumber + '</t>';
              xml += '<pt><x>' + bbox.x + '</x><y>' + bbox.y + '</y><l>' + isGroundThrugh + '</l></pt>';
              xml += '<pt><x>' + bbox.x + '</x><y>' + (bbox.y + bbox.height) + '</y><l>' + isGroundThrugh + '</l></pt>';
              xml += '<pt><x>' + (bbox.x + bbox.width) + '</x><y>' + (bbox.y + bbox.height) + '</y><l>' + isGroundThrugh + '</l></pt>';
              xml += '<pt><x>' + (bbox.x + bbox.width) + '</x><y>' + bbox.y + '</y><l>' + isGroundThrugh + '</l></pt>';
              xml += '</polygon>\n';
            }
          }

          xml += '  </object>\n';
        }

        xml += '</annotation>\n';

        // let writeStream = streamSaver.createWriteStream('output.xml').getWriter();
        // let encoder = new TextEncoder();
        // writeStream.write(encoder.encode(xml));
        // writeStream.close();

        var xmlD = new Blob([xml], { type: 'text/plain' });
        //FileSave.js
        var xmlData = [];
        xmlData.push(xml);
        // saveAs(xmlD,"annotation.xml");
        var filename = "{{filename}}" + ".xml";
        saveAs(xmlD, filename);

        //Post request to store the XML file
        $.post("../../operator/save_xml/", {
          'csrfmiddlewaretoken': '{{ csrf_token }}',
          xml_text: xml,
          video_id: {{ video_id }},
    }, function (response) {
      console.log(response);
      if (response.status == "XML saved") {
        alert("File saved")
      }
      else {
        alert("File could not be saved")
      }
    });
  }

  //////////////////////////////////////////////////////////////////////////////////////////////////////////

  console.log("INside XML script")
  var url = "{{xml_path}}"
  var requestXml = new XMLHttpRequest();
  requestXml.open('GET', url);
  requestXml.responseType = 'blob';

  var xml_file;


  
  var xml_saved = "{{flag}}"


    if (xml_saved == "True") {

      //  Full code copy

      requestXml.onload = function () {

        xml_file = requestXml.response;
        console.log(xml_file)

        // importXml()

        // ###########XML_FILE_CODE#############
        };

      };
      requestXml.send();
    };
</script>
{% endblock %}