<!DOCTYPE html> {% extends 'base/base.html' %}

{% block content %}
<div class="wrapper animated fadeIn">
    <br>
    <div class="row">
       
        <div class="col-lg-12">
            <br><br>
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#tab-1"> Download JSON file</a></li>

                </ul>
                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="wrapper">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>List of Videos </h5>

                                            </div>
                                            <div class="ibox-content">

                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <tr>

                                                                <th>#</th>
                                                                <!-- <th>Batch </th> -->
                                                                <th>Name</th>
                                                                <!-- <th>Email </th> -->
                                                                <th>Annotate</th>
                                                                <!-- <th>Completed </th> -->
                                                                <!-- <th>Created Date</th> -->
                                                                <!-- <th>XML</th> -->
                                                                <!-- <th>Date</th> -->
                                                                <!-- <th>Status</th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            {% for i in image %}
                                                            <tr id="download-json" data-id="{{i.id}}" data-f_type="{{b_type}}" style="cursor:pointer;">

                                                                <td>{{ forloop.counter }}</td>
                                                                <!-- <td>{{x.batch.name}}</td> -->
                                                                <td>{{i.name}}</td>
                                                                <td><a href="#"><button class="btn btn-success">Download Json</button></a></td>

                                                            </tr>

                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
        </div>
    </div>
</div>
<script>
    $(document).on("click", "#row-batch", function () {

        console.log("id of this row is: " + $(this).data("id"));
        b_id = $(this).data("id");
        v_path = $(this).data("path")
        append_path = "http://127.0.0.1:8000" + v_path
        console.log("PAth is here" + append_path)
        var url_n = "../vatic/";
        var form = $('<form action="' + url_n + '" method="post">' +
            '{% csrf_token %}' +
            '<input type="hidden" name="url_x" value="' + append_path + '" />' +
            '<input type="hidden" name="b_id" value="' + b_id + '" />' +
            '</form>');
        $('body').append(form);
        form.submit();
    }); 
    //     $(document).on("click", "#row-batch", function () {
    //     console.log("id of this row is: " + $(this).data("id"));
    //     b_id = $(this).data("id");
    //     v_path = $(this).data("path")
    //     append_path = "http://127.0.0.1:8000" + v_path
    //     console.log("PAth is here" + append_path)
    //     var url_n = "../vatic/";
    //     var form = $('<form action="' + url_n + '" method="post">' +
    //         '{% csrf_token %}' +
    //         '<input type="hidden" name="url_x" value="' + append_path + '" />' +
    //         '<input type="hidden" name="b_id" value="' + b_id + '" />' +
    //         '</form>');
    //     $('body').append(form);
    //     form.submit();
    // });
</script>
<script>
    $(document).on("click", "#batch_complete", function () {
        b_id = $(this).data("id");
        console.log(b_id)
        $.post("../batch_completed/", {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            b_id: b_id
        },function (response) {
            console.log(response);
            window.location.href = "../";     
        });

    });

     $(document).on("click", "#download-json", function () {
        b_id = $(this).data("id");
        f_type = $(this).data("f_type");

        console.log(b_id)
        console.log(f_type)
        $.post("../download/", {
            f_id: b_id,
            f_type: f_type,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            b_id: b_id
        },function (response) {
            console.log(response);
        });

    });

</script>
{% endblock %}